extends ../_layouts/two-column-fluid

block menu
  
  mixin item(name, slug)
    li.nav-item
      - if (typeof(pageSlug) !== 'undefined') {
        a(href="/api/#{slug}" class= pageSlug === slug ? "active" : undefined).nav-link #{name}
      - } else {
        a(href="/api/#{slug}" class= title === name ? "active" : undefined).nav-link #{name}
      - }  

  - if (section === 'node') {
    h3.menu-header.m-t-md Node
    ul.nav.nav-pills.nav-stacked
      +item('Get Started', '')
      +item('Build & Install', 'build')
      +item('Node Constructor', 'node')
      +item('Scaffold', 'scaffold')
      +item('Event Bus', 'bus')
      +item('Error Handling', 'errors')
      +item('Bitcoind Patch', 'patch')
      +item('Release Process', 'release')
      +item('Development & Testing', 'testing')
  - } else {
    a(href="/api/")
      h3.menu-header.m-t-md Node
  - }

  - if (section === 'service') {
    h3.menu-header.m-t-md Services
    ul.nav.nav-pills.nav-stacked
      +item('Overview', 'service')
      +item('Bitcoin Service', 'service/bitcoin')
      +item('Database Service', 'service/database')
      +item('Address Service', 'service/address')
      +item('Web Service', 'service/web')
  - } else {
    a(href="/api/service")
      h3.menu-header.m-t-md Services
  - }

  - if (section === 'lib') {
    h3.menu-header.m-t-md Bitcore Library API
    ul.nav.nav-pills.nav-stacked
      +item('Address', 'lib/address')
      +item('Block', 'lib/block')
      +item('Crypto', 'lib/crypto')
      +item('Encoding', 'lib/encoding')
      +item('HD Keys', 'lib/hd-keys')
      +item('Networks', 'lib/networks')
      +item('Private Key', 'lib/private-key')
      +item('Public Key', 'lib/public-key')
      +item('Script', 'lib/script')
      +item('Transaction', 'lib/transaction')
      +item('Bitcoin Units', 'lib/unit')
      +item('Unspent Outputs', 'lib/unspent-output')
      +item('Bitcoin URIs', 'lib/uri')
  - } else {
    a(href="/api/lib/address")
      h3.menu-header.m-t-md Bitcore Library API
  - }

  - if (section === 'modules') {
    h3.menu-header.m-t-md Modules
    ul.nav.nav-pills.nav-stacked
      +item('Payment Channels', 'channel')
      +item('ECIES', 'ecies')
      +item('Explorers', 'explorers')
      +item('Message', 'message')
      +item('Mnemonic', 'mnemonic')
      +item('Payment Protocol', 'paypro')
  - } else {
    a(href="/api/channel")
      h3.menu-header.m-t-md Modules
  - }
    
  - if (section === 'p2p') {
    h3.menu-header.m-t-md Peer-to-Peer
    ul.nav.nav-pills.nav-stacked
      +item('Overview', 'p2p')
      +item('Messages', 'p2p/messages')
      +item('Peer', 'p2p/peer')
      +item('Pool', 'p2p/pool')
  - } else {
    a(href="/api/p2p")
      h3.menu-header.m-t-md Peer-to-Peer
  - }
      
block content
  .api-content
    .docs.bg-white
      .container
        block docs
    .lib.bg-dark
      .container
        block lib
          
mixin docMarkdown(editUrl)
  .section.p-t-lg
    .text-right.bring-to-front
      a(href="#{editUrl}") Edit
    if block
      block
    
mixin libMarkdown(viewUrl)
  .section.p-t-lg
    .text-right.bring-to-front
      a(href="#{viewUrl}") View Source
    if block
      block
