include ../_mixins/jademin

block vars
  //- defaults – `append vars` to modify
  -var title = 'Bitcoin Platform and API';
  -var description = 'Build your bitcoin application on Bitcore.';
  -var twitterCard = 'https://copay.io/images/social/card.jpg';
  -var ogSiteUrl = 'Bitcore.io';
  -var ogSiteName = 'Bitcore.io';
  -var ogImage = 'https://bitcore.io/images/social/avatar.png';
  -var appleTouchTitle = 'Bitcore';
  -var appleTouchIcon = 'apple-touch-icon-precomposed.png';
  -var androidIcon = '/images/touch/chrome-touch-icon-192x192.png';
  -var wintileIcon = '/images/touch/ms-touch-icon-144x144-precomposed.png';
  -var wintileColor = '#1D3E92';
  -var bodyClass = '';

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block title
      title #{title} | Bitcore

    block meta
      meta(name='description', content='#{description}')

      // Twitter Card data
      meta(name='twitter:card', content='summary')
      meta(name='twitter:site', content='@BitPay')
      meta(name='twitter:title', content='#{title}')
      meta(name='twitter:description', content='#{description}')
      meta(name='twitter:image', content='#{twitterCard}')

      // Open Graph data (Facebook and Reddit)
      meta(property='og:title', content='#{title}')
      meta(property='og:type', content='article')
      meta(property='og:url', content='https://bitcore.io/')
      meta(property='og:image', content='#{ogImage}')
      meta(property='og:description', content='#{description}')
      meta(property='og:site_name', content='#{ogSiteName}')

    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='icon', sizes='192x192', href='#{androidIcon}')

    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='#{appleTouchTitle}')
    link(rel='apple-touch-icon-precomposed', href='#{appleTouchIcon}')

    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='#{wintileIcon}')
    meta(name='msapplication-TileColor', content='#{wintileColor}')
    
    // Favicon
    link(rel="shortcut icon", href="/favicon.ico")
    
    link(rel='stylesheet', href='/styles/main.css' data-instant-track)
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Titillium+Web:400,300,600,700|Roboto+Mono:400,500')
    include ../_includes/scripts.html

  body(class="#{bodyClass}")
    
    block body
      include ../_includes/top-nav
      block page

    block footer
      include ../_includes/footer
  
    a.exit-off-canvas
    
    block scripts
      +jademin('/scripts/main.min.js')
        script(src='/jquery/dist/jquery.js')
        script(src='/instantclick/instantclick.js')
        script(src='/prism/prism.js')
        script(src='/bootstrap/dist/js/bootstrap.js')
        script(src='/_scripts/init.js')
